@using WebApplication1.Domain.Identity
@model WebApplication1.Domain.Entities.Person

@{
    ViewData["Title"] = "Детально о сотруднике";
}

<div class="container">
    <h1>@ViewBag.Title</h1>

    <a asp-controller="Home" asp-action="Index">На главную</a> / <a asp-action="Index">Все сотрудники</a>
    
    <div>
        <h4>Сотрудник</h4>
        <hr />
        <dl class="row">
            
            @Html.HiddenFor(Model => Model.Id)

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dt class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dt>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dt class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dt>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Patronymic)
            </dt>
            <dt class="col-sm-10">
                @Html.DisplayFor(model => model.Patronymic)
            </dt>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Age)
            </dt>
            <dt class="col-sm-10">
                @Html.DisplayFor(model => model.Age)
            </dt>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Birthday)
            </dt>
            <dt class="col-sm-10">
                @Html.DisplayFor(model => model.Birthday)
            </dt>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CountChildren)
            </dt>
            <dt class="col-sm-10">
                @Html.DisplayFor(model => model.CountChildren)
            </dt>
        </dl>
    </div>
    <div>
        @if (User.IsInRole(Role.Administrators))
        {
            <div class="col-sm-12">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редактирование</a>
            </div>
            <div class="col-sm-12">
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Удаление</a>
            </div>
        }
        <div class="col-sm-12">
            <a asp-action="Index" class="btn btn-default">Назад</a>
        </div>
    </div>
</div>
