@code
{
    public int ElementCount { get; set; } = 5;
    public Dictionary<int, int> Counters { get; } = new Dictionary<int, int>();
}

<form action="/pages/blazor" method="get">
    @for (int i = 0; i < ElementCount; i++)
    {
        int local = i;
        <div class="m-2 p-2 border">
            <button class="btn btn-primary"
                    @onclick="@(() => IncrementCounter(local))"
                    @onclick:preventDefault="true">
                Увеличить @(i + 1)
            </button>
            <span class="p-2">Значение счетчика: @GetCounter(i)</span>
            <button class="btn btn-dark" 
                    @onclick="@(() => DecrementCounter(local))"
                    @onclick:preventDefault="true">Уменьшить @(i + 1)</button>
            <button class="btn btn-info"
                    @onclick="@(() => Counters.Remove(local))"
                    @onclick:preventDefault="true">
                Сброс
            </button>
        </div>
    }
</form>

@code {
    public int GetCounter(int index) =>
        Counters.ContainsKey(index) ? Counters[index] : 0;

    public void IncrementCounter(int index) =>
        Counters[index] = GetCounter(index) + 1;

    public void DecrementCounter(int index) =>
        Counters[index] = GetCounter(index) - 1;
}
