
@model WebApplication1.Areas.Admin.Models.IndexProductEditViewModel
@*@model IEnumerable<WebApplication1.ViewModel.ProductEditViewModel>*@

@{
    ViewBag.Title = "Редактирование каталога товаров";
}
@*<style>
    @@font-face{font-family:'FontAwesome';src:url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'),
                                              url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'),
                                              url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');font-weight:normal;font-style:normal}
    .glyphicon {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }
    .glyphicon-chevron-down:before {
        content: "\f078";
    }
 
    .glyphicon-chevron-up:before {
        content: "\f077";
    }
</style>*@
<div class="container">
    <h2>@ViewBag.Title</h2>

    @if (@Model.Products.FirstOrDefault() is { } first)
    {
        <div class="row form-group">
            <p>
                <a asp-action="Create" class="btn btn-primary">Создать</a>
            </p>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>№</th>
                    <th>
                        <product-edit-sort action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" property="@Model.SortViewModel.NameSort">
                            <label asp-for="@first.Name" class="btn"></label>
                        </product-edit-sort>
                        @*<a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
                            <label asp-for="@first.Name" class="btn"></label>
                        </a>*@
                    </th>
                    <th>
                        <product-edit-sort action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" property="@Model.SortViewModel.BrandSort">
                            <label asp-for="@first.BrandName" class="btn"></label>
                        </product-edit-sort>
                        @*<a asp-action="Index" asp-route-sortOrder="@ViewBag.BrandSort">
                            <label asp-for="@first.BrandName" class="btn"></label>
                        </a>*@
                    </th>
                    <th>
                        <product-edit-sort action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" property="@Model.SortViewModel.SectionSort">
                            <label asp-for="@first.SectionName" class="btn"></label>
                        </product-edit-sort>
                        @*<a asp-action="Index" asp-route-sortOrder="@ViewBag.SectionSort">
                            <label asp-for="@first.SectionName" class="btn"></label>
                        </a>*@
                    </th>
                    <th>
                        <product-edit-sort action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" property="@Model.SortViewModel.OrderSort">
                            <label asp-for="@first.Order" class="btn"></label>
                        </product-edit-sort>
                        @*<a asp-action="Index" asp-route-sortOrder="@ViewBag.OrderSort">
                            <label asp-for="@first.Order" class="btn"></label>
                        </a>*@
                    </th>
                    <th><label asp-for="@first.ImageUrl"></label></th>
                    <th>
                        <product-edit-sort action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" property="@Model.SortViewModel.PriceSort">
                            <label asp-for="@first.Price" class="btn"></label>
                        </product-edit-sort>
                        @*<a asp-action="Index" asp-route-sortOrder="@ViewBag.PriceSort">
                            <label asp-for="@first.Price" class="btn"></label>
                        </a>*@
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>
                            <a asp-action="Edit" asp-route-id="@product?.Id"><i class="glyphicon glyphicon-edit"></i></a>
                        </td>
                        <td>@product?.Id</td>
                        <td>@product?.Name</td>
                        <td>@product.BrandName</td>
                        <td>@product.SectionName</td>
                        <td>@product.Order</td>
                        <td>
                            <img src="~/images/home/@product.ImageUrl" width="90" alt="@product.Name"/>
                        </td>
                        <td>@product.Price.ToString("C")</td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@product.Id"><i class="glyphicon glyphicon-trash text-danger"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>



