@model WebApplication1.Models.Person

@{
    ViewBag.Title = "Детально о сотруднике";
}

<div class="container">
    <h1>Детально о сотруднике</h1>
    <hr />
    <a asp-controller="Home" asp-action="Index">На главную</a> / <a asp-controller="Home" asp-action="Persons">Сотрудники магазина</a>
    <hr />
    <p>Идентификатор: @Model.Id</p>
    <p>Фамилия: @Model.LastName</p>
    <p>Имя: @Model.FirstName</p>
    <p>Отчество: @Model.Patronymic</p>
    <p>Возраст: @Model.Age лет</p>
    <p>Дата рождения: @Model.Birthday</p>
    <p>Количество детей: @Model.CountChildren штук</p>
</Di>

