@model WebApplication1.Models.Person

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Детально о сотруднике</title>
</head>
<body>
    <h1>Детально о сотруднике</h1>
    <hr />
    <a href="/">На главную</a> / <a href="/Home/Persons">Сотрудники магазина</a>
    <hr />
    <p>Идентификатор: @Model.Id</p>
    <p>Фамилия: @Model.LastName</p>
    <p>Имя: @Model.FirstName</p>
    <p>Отчество: @Model.Patronymic</p>
    <p>Возраст: @Model.Age лет</p>
    <p>Дата рождения: @Model.Birthday</p>
    <p>Количество детей: @Model.CountChildren штук</p>
</body>
</html>
